@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: "Montserrat", sans-serif;
	background: #1f1d2c; /*#cccccc*/
	color: #070a0f;
	font-size: 18px;
}
h1 {
	background: #203944;
	margin-bottom: 20px;
	padding: 15px;
	border-radius: 8px 8px 40px 8px;
	width: 100%;
	color: #afdef5;
}

h2 {
	margin: 0;
	padding: 0;
	background: #203944;
	margin-bottom: 20px;
	padding: 15px;
	border-radius: 8px 8px 40px 8px;
	width: 100%;
	color: #afdef5;
}
a {
	color: #203944;
	background: #afdef5;
	font-weight: 700;
	text-decoration: none;
	padding: 10px;
	border-radius: 4px 20px 4px 20px;
	display: inline-block;
	border: 5px solid #203944;
}
a:hover {
	color: #afdef5;
	background: #203944;
}
.container {
	max-width: 870px;
	margin: 0 auto;
	padding: 0 15px;
}
.bold {
	font-weight: 700;
}
.italic {
	font-style: italic;
}
.resume {
	background: #203944;
	border-radius: 80px 8px;
	border: 9px solid #afdef5;
	padding: 20px;
	margin: 30px 0;
	box-shadow: 0px 0px 30px 10px rgba(94, 237, 247, 0.3);
}
.card {
	padding: 20px;
	border-radius: 8px;
	border: 5px solid #afdef5;
	background: #35839b;
}
.text-box {
	border-radius: 8px;
	background: #afdef5;
	margin-bottom: 20px;
	border: 5px solid #203944;
}

.info {
	border-radius: 70px 8px 8px 8px;
	display: flex;
	width: 100%;
	justify-content: space-between;
	margin-bottom: 20px;
}

.image {
	margin-right: 15px;
	width: 40%;
}
.avatar {
	border-radius: 50%;
	margin-bottom: 10px;
	border: 5px solid #203944;
	max-width: 100%;
}
.descr {
	width: 60%;
}
.text {
	width: 90%;
	padding: 15px 15px 5px 15px;
}
.social {
}
.social {
}

.about {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}
.hobbies {
	margin-right: 20px;
}
.hobbies ol {
	width: 90%;
	padding: 15px;
}
.hobbies li {
	margin-left: 15px;
	padding: 2px;
}

.table {
	max-width: 95%;
	padding: 15px;
}
.table th {
	padding: 10px;
	background-color: #203944;
	border-radius: 4px;
	color: #eaeaea;
}
.table td {
	border: 3px solid #203944;
	padding: 10px;
	border-radius: 4px;
	text-align: center;
}
.table input {
	width: 25px;
	height: 25px;
}
.course {
	margin-bottom: 20px;
}
.course h3 {
	margin-bottom: 10px;
}
.course a {
	margin-bottom: 15px;
}
.course .table {
	width: 100%;
}
.course .table td {
	text-align: left;
}
.contact {
	border-radius: 8px 8px 70px 8px;
}
.form {
	width: 100%;
}
.field {
	display: flex;
	width: 100%;
}
input {
	color: #070a0f;
}
.field input {
	height: 50px;
	margin-right: 15px;
	display: block;
	border-radius: 0px 0px 8px 8px;
	background: #afdef5;
	margin-bottom: 20px;
	border: 5px solid #203944;
	width: 100%;
	padding: 15px;
}
label {
	border-radius: 8px 20px 0px 0px;
	background: #203944;
	color: #afdef5;
	font-weight: 700;
	padding: 15px;
	width: 100%;
	display: block;
}
.name {
	margin-right: 15px;
	width: 100%;
}
.email {
	width: 100%;
}
.textarea {
	width: 100%;
	height: 100%;
}
textarea {
	background: #203944;
	width: 100%;
	min-height: 150px;
	display: block;
	border-radius: 0px 0px 8px 8px;
	background: #afdef5;
	margin-bottom: 20px;
	border: 5px solid #203944;
	padding: 15px;
}

.btn {
	color: #afdef5;
	background: #203944;
	font-weight: 700;
	text-decoration: none;
	padding: 10px;
	border-radius: 4px 20px 4px 20px;
	display: inline-block;
	border: 5px solid #203944;
	text-transform: uppercase;
	font-size: 22px;
	font-weight: 700;
}
.btn:hover {
	color: #203944;
	background: #afdef5;
}

@media (max-width: 769px) {
	.info {
		display: block;
	}
	.image {
		width: 100%;
	}
	.descr {
		width: 100%;
	}
	.avatar {
	}
	.about {
		display: block;
	}
	.hobbies {
		margin-right: 0;
		margin-bottom: 20px;
	}
	.field {
		display: block;
	}
}
@media (max-width: 495px) {
	h1 {
		font-size: 24px;
	}
	p {
		font-size: 16px;
	}
	h2 {
		font-size: 22px;
	}
	.resume {
		padding: 10px;
	}
	.card {
		padding: 5px;
	}
	.hobbies li {
		font-size: 14px;
	}
	.table {
		max-width: 100%;
		padding: 0;
	}
	.table th {
		padding: 2px;
		font-size: 14px;
	}
	.table td {
		padding: 2px;
		font-size: 14px;
	}
	.table input {
		width: 15px;
		height: 15px;
	}
}
